.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Border {
  border: blue;
  border-width: 1em;
  border-style: solid;
  padding: 1em;
  background-color: lightgray;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.TitlesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SubTitle {
  margin-right: -8em;
  margin-top: -.5em;
}

.YesText {
  font-weight: 1000;
  color: green;
  font-size: 2em;

}

.NoText {
  font-weight: 1000;
  color: red;
  font-size: 2em;

}

.GoalText {
  font-weight: 1000;
  color: rebeccapurple;
  font-size: 2em;

}

.Header {
  font-weight: 1000;
  font-size: 2em;
}

.StatsWrapper {
  display: flex;
  flex-direction: column;
}
