.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Border {
  border: blue;
  border-width: 1em;
  border-style: solid;
  padding: 1em;
  background-color: lightgray;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.TitlesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SubTitle {
  margin-right: -8em;
  margin-top: -.5em;
}

.YesText {
  font-weight: 1000;
  color: green;
  font-size: 2em;

}

.NoText {
  font-weight: 1000;
  color: red;
  font-size: 2em;

}

.GoalText {
  font-weight: 1000;
  color: rebeccapurple;
  font-size: 2em;

}

.Header {
  font-weight: 1000;
  font-size: 2em;
}

.StatsWrapper {
  display: flex;
  flex-direction: column;
}

.blob {
  position: absolute;
  margin-left: -8px;
  margin-top: -8px;
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  height: 20px;
  width: 20px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

.blob.blue {
  background: rgba(52, 172, 224, 1);
  box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
  animation: pulse-blue 2s infinite;
}

@keyframes pulse-blue {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
  }
}

.blob.red {
  background: rgba(255, 82, 82, 1);
  box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
}
